<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="MONGOLAB_URI" value="mongodb://localhost:27017/TrelloBello" />
    <add key="TRELLO_API_KEY" value="e2611a2cfb1e19945bbd25c0e45d70b1" />
    <add key="TRELLO_OAUTH_TOKEN" value="98f36ca7f766d42c7eb5ccb8edb50906d789ba83817f35c9afd5b427072d72de" />
    <add key="TrelloTestCardId" value="ssXFojIt" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>